<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{siteName}}</title>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{siteUrl}}/assets/css/app.css">
</head>
<body>
  {{ include('layouts/_header') }}

  <div class="contacto">
    <div class="contacto-inner container mx-auto text-center py-32">
      <h1 class="text-4xl font-bold mb-4">Contacto</h1>
      <p class="text-gray-700">Queremos saber de ti<br>Contáctanos a través de nuestro correo <a href="mailto:hola@craft.com">hola@craft.com</a></p>
    </div>
  </div>

  {{include('layouts/_footer')}}
</body>
</html>
